"highlight-registered-keyword": [
  {
    class: "kkeyword"
    pattern: "/CBEGIN|\
CEND|\
clearAll|
    TODO/g"
  }
  {
    class: "kkeyword"
    pattern: "/WhiteCat|\
BlackCat|\
KKEY_WORD/g"
    fileTypes:["cpp", "c", "txt"]
  }
  {
    class: "kkeyword"
    pattern: "/\\251|\\xAE/g"
  }
  {
    class: "liederbuch"
    pattern: "/InBook|\
vers/g"
    fileTypes:["ly"]
  }
  {
    class: "notknown"
    pattern: "/QUATSCH|\
QUARK|\
NOTKNOWN_KEYWORD/g"
  }
  {
    class: "ISBN"
    pattern: "/(ISBN-13 ?((978)|(979))-\\d{1,9}-\\d{1,9}-\\d{1,9}-\\d)|(ISBN-10 ?\\d{1,9}-\\d{1,9}-\\d{1,9}-\\d)/g"
  }
    {
      class: "ISBN"
      pattern: "/TEST|HALLO/g"
    }
{
    class: "surrogatePairs"
    pattern: "/\u{2000B}|\u{2123D}|\u{2131B}|\u{2146E}|\u{218BD}|\u{20B9F}|\u{216B4}|\u{21E34}|\u{231C4}|\u{235C4}/g"
  }
]
